# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\F_IDEA_PROJECT\spring-boot-gecco\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
